<ion-content>
    <ion-content class="background" >
        <ion-card  class = "center">
          <ion-card-header>
              <ion-card-title class = "centrado" > Regristration </ion-card-title><br>
              <ion-input placeholder="Enter user name"></ion-input>
              <ion-input placeholder="Enter email"></ion-input>
              <ion-input type="password" placeholder="Enter password"></ion-input>
              <ion-input type="password" placeholder="Confim password"></ion-input>
          </ion-card-header>
          <ion-button expand="full" color="success"><ion-icon name="send-outline"></ion-icon> </ion-button>
        </ion-card>
    </ion-content>

</ion-content>
