<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="game-controller-outline"></ion-icon> Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-card>
        <ion-card-header>
            <ion-card-title>What is a comet?</ion-card-title>
        </ion-card-header>

        <ion-list>
          <ion-radio-group>

            <ion-item >
                <ion-radio value="a" slot="start"></ion-radio>
                <ion-text class = "iteam_s" slot="end">A ball of dirty carbon dioxide and organic compounds iced with high eccentricities</ion-text>
            </ion-item>

            <ion-item>
                <ion-radio value="b" slot="start"></ion-radio>
                <ion-text slot="end">A ball of dirty carbon hydroxide and organic compounds iced with low eccentricities</ion-text>
            </ion-item>

            <ion-item>
                <ion-radio value="c" slot="start"></ion-radio>
                <ion-text slot="end">A ball of dirty carbon dioxide and organic compounds iced with low eccentricities</ion-text>
            </ion-item>

          </ion-radio-group>
        </ion-list>
        <ion-button expand="full"  color="success"><ion-icon name="checkbox-outline"></ion-icon>Submit</ion-button>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>How is the head of the comet called?</ion-card-title>
        </ion-card-header>

        <ion-list>
          <ion-radio-group>

            <ion-item>
                <ion-radio value="a" slot="start"></ion-radio>
                <ion-text slot="end">Coma</ion-text>
            </ion-item>

            <ion-item>
                <ion-radio value="b" slot="start"></ion-radio>
                <ion-text slot="end">Nucleus</ion-text>
            </ion-item>

            <ion-item>
                <ion-radio value="c" slot="start"></ion-radio>
                <ion-text slot="end">Dust tail</ion-text>
            </ion-item>

          </ion-radio-group>
        </ion-list>
        <ion-button expand="full"  color="success"><ion-icon name="checkbox-outline"></ion-icon>Submit</ion-button>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>When does the plasma and dust tail start shining with it’s excited atoms?</ion-card-title>
        </ion-card-header>

        <ion-list>
          <ion-radio-group>

            <ion-item class = "iteam_s">
                <ion-radio value="a" slot="start"></ion-radio>
                <ion-text slot="end">During orbit</ion-text>
            </ion-item>

            <ion-item>
                <ion-radio value="b" slot="start"></ion-radio>
                <ion-text slot="end">At aphelion</ion-text>
            </ion-item>

            <ion-item>
                <ion-radio value="c" slot="start"></ion-radio>
                <ion-text slot="end">At perihelion</ion-text>
            </ion-item>

          </ion-radio-group>
        </ion-list>
        <ion-button expand="full"  color="success"><ion-icon name="checkbox-outline"></ion-icon>Submit</ion-button>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
