<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        <ion-icon name="person-circle-outline"></ion-icon>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
    <ion-card>
        <ion-card-header>
            <div class="centered" style="align-items: center">
                <ion-img  class="centered" style="width: 50%;" src="../../assets/images/me.png"></ion-img>
            </div>
            <ion-card-title class = "post"> Onder Francisco Campos Garcia </ion-card-title>
            <ion-card-subtitle>onderfra@gmail.com</ion-card-subtitle>
            <ion-card-subtitle>National Polytechnic Institute' student</ion-card-subtitle>
            <ion-card-subtitle >Zacatecas Zacatecas</ion-card-subtitle>
            <ion-card-content>"Great things are done by a series of small things brought together”</ion-card-content>
        </ion-card-header>
        <ion-button expand="full" color="dark"><ion-icon name="create-outline"></ion-icon> </ion-button>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <ion-label slot="start"> Space dust</ion-label>
                <ion-badge slot="end" >2243</ion-badge>
            </ion-item>
        </ion-card-header>
    </ion-card>

<!--
<ion-card>
<ion-card-header>
<ion-list>
<ion-item lines="none">
<ion-label>Team 1</ion-label>
</ion-item>
<ion-item lines="none">
<ion-label>Team 2</ion-label>
</ion-item>
<ion-item lines="none">
<ion-label>Team 3</ion-label>
</ion-item>
</ion-list>
</ion-card-header>

</ion-card>-->

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle><ion-icon name="school-outline"></ion-icon>Education</ion-card-subtitle>
        </ion-card-header>
        <ion-list>
            <ion-item>
                <ion-label>Preparatory 1 UAZ</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label>National Polytechnic Institute</ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="full" color="dark"><ion-icon name="add-outline"></ion-icon> </ion-button>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle><ion-icon name="reader-outline"></ion-icon>Work experience</ion-card-subtitle>
        </ion-card-header>
        <ion-list>
            <ion-item lines="none">
                <ion-label>Club president</ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="full" color="dark"><ion-icon name="add-outline"></ion-icon> </ion-button>
    </ion-card>
</ion-content>
